/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.lesson, .what_i_did {
	width: 400px;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	font-weight: bold;
	font-size: 17px;
	border: solid 1px rgba(230, 230, 230, .4); 
}
.lesson {
	color: rgb(72, 72, 72);
	background-color: rgba(240, 225, 230, .8);
}
.what_i_did {
	background-color: rgba(240, 225, 230, .7);
	color: rgb(72, 72, 72);

}
.left {
	margin-top: 10px;
  font-size: 17px;
  font-family: "Georgia";

}
a {
	margin-right: 10px;
	cursor: pointer;
}
.intro {
	font-size: 35px;
	color: #2E262E;
}
.edit_link {
  background-color: rgba(235, 213, 221, .3);
  display: inline-block;
  border-radius: 5px;

}
.from_to {
	font-size: 12px;
}

