.lesson, .what_i_did {
	width: 300px;
	border-radius: 10px;
	margin: 20px;
	padding: 15px;
	border: solid 1px rgba(230, 230, 230, .4); 
}
.lesson {
	background-color: rgba(61, 61, 61, .3);
}
.what_i_did {
	background-color: rgba(61, 61, 61, .2);

}
.left {
	margin-top: 10px;
  font-size: 17px;
  font-family: "Georgia";

}
a {
	margin-right: 10px;
	cursor: pointer;
}
.intro {
	font-size: 35px;
	color: #2E262E;
}
.edit_link {
  background-color: rgba(235, 213, 221, .3);
  display: inline-block;
  border-radius: 5px;

}

