- unless Relationship.are_friends?(current_user, @user) || (current_user == @user)
  = link_to "Add Friend", controller: "relationships", action: "req", name: @user.name, remote: true, class: "friend_link"