<head>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}
		#introduction {
			margin-top: 90px;
			margin-bottom: 20px;
			color: gray;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			list-style: none;
			overflow: hidden;
			height: 400px;
			width: 750px;
			position: relative;
			margin-bottom: 30px;
			display: inline-block;
		}
		.parallax-background {
			height: 600px;
			background-position: center;
			background-repeat: no-repeat;
		}
		.img0 {
			margin-top: 42px;
		}
		.parallel {
			height: 385px;
			padding-left: 30px;		
		}
		ul li .herro {
			position: absolute;
			top: 26px;
			left: 30px;
			color: black;
			font-family: helvetica;

		}
		h1 {
			font-size: 60px;
			margin: 0;
		}
		
	</style>
</head>
<body>
	<ul class="parallax">
	</ul>
</body>
<script type="text/javascript">
$('.span12').prepend("<h1 id='introduction'>Hello, this is my story.   Start yours here.</h1>");
$('#introduction').delay(4000).hide(1500, function() {
	$('#introduction').css("margin-right", "3000px");
});
function preloadImages(srcs, imgs, callback) {
	console.log(srcs);
  var img;
  var remaining = srcs.length;
  for (var i = 0; i < srcs.length; i++) {
    img = new Image();
    img.onload = function() {
    	  --remaining;
        if (remaining <= 0) {
        	console.log(remaining);
            callback(imgs, srcs);
        }
    };
    imgs.year = srcs[i].year;
    img.src = srcs[i].url;
    img.width = "280"; 
    img.className = "home_img";
    imgs.push(img);
  }
}
function imagesReady(imgs, srcs) {
	var span_width = $('.span12').width();
	
	var rand_float = function(i) {
		if (i%2 === 0) {
			return "right";
		} 
		else {
			return "left";
		}
	}
	for (i=0; i<imgs.length; i++) {
		console.log(imgs[i]);
		$(".parallax").append("<div class='parallel img" + i + "' style='width:" + (span_width - 780) + "px;float:" + rand_float(i) + "'><h1>" + srcs[i].what_i_did +"</h1></div><li class='img" + i + "' style='left:0'><div style='background-image:url(" + imgs[i].src + ")' class='parallax-background'></div><div class='herro'><h1>" + srcs[i].year + "</h1></div></li>");
		// $(".span12").append(imgs[i]);
	}
	// start parallaxing
	var $container = $('.parallax');
	var $divs = $container.find('div.parallax-background');
	var scrolling = document.body;
	var liHeight = $divs.eq(0).closest('li').height();
	var diffHeight = $divs.eq(0).height() - liHeight;

	var i, len, div, li, offset, scroll, top;

	var offsets = $divs.get().map(function(div, d) {
		return $(div).offset();
	});
	
	// loop through divs
	var render = function() {
		top = scrolling.scrollTop;
		for(i=0,len=$divs.length; i<len; i++) {
			
			// get one div
			div = $divs[i];
			// calculate the offset top of the div
			offset = top - offsets[i].top;
			// calculate the amount to scroll
			scroll = ~~(offset / liHeight * diffHeight);
			// apply the scroll amount
			div.style.webkitTransform =  "translate3d(0px," + scroll + "px, 0px)"

		}
	};

	(function loop() {
		requestAnimationFrame(loop);
		render();
	})();
}
// then to call it, you would use this
var imageSrcs = [];
<% if !@image_array.nil? %>
	<% @image_array.each do |x| %>
		imageSrcs.push({url: "<%= x.avatar.url %>", year: "<%= x.year %>", what_i_did: "<%= x.what_i_did.gsub(34.chr, '').split(" ")[0..25].join(" ") %>" })
	<% end %>
<% end %>
var images = [];

preloadImages(imageSrcs, images, imagesReady);

</script>